body {
  font-family: Helvetica;
}
.app {
  display: flex;

  .channels {
    padding-left: 20px;
    width: 30%;
    background-color: #F4F4F4;
    color: #DBDBDB;
    height: 100vh;
    h2 {
      font-weight: bold;
      color: black;
    }
    .channel {
      cursor: pointer;
    }
    .selected {
      font-weight: bold;
      color: black;
    }
  }

  .messages {
    padding-left: 20px;
    width: 70%;
    .message {
      margin-top: 10px;
      h5 {
        font-weight: bold;
        color: red;
      }
    }
    .message-form {
      position: fixed;
      bottom: 20px;
      width: 60%;
    }
  }
}
